<div class="container">
  <table class="table table-responsive">
    <tbody>
      <% @concepts.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.get_concept_type %></td>
        <td><%= c.value %></td>
        <td><a href="<%= concept_path(c.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></td>
      </tr>
      <% end if @concepts.any?%>
    </tbody>
  </table>
</div>
